@charset "UTF-8";

* {
	font-family: 'NanumGothic';
}

h1, h2, h3, h4 {
	font-family: 'NanumGothicBold';
}

.header_logo {
	font-size: 2rem;
	color: #171521;
}

.header_menu {
	margin-left: 20px;
	color: #999;
}

.carousel-item img {
	width: 100%;
}

.pimg:hover {
	transform: scale(1.4);
	cursor: pointer;
}

#total {
	font-family: 'NanumGothicBold';
	font-size: 1.5rem;
}

.preview {
	font-family: 'NanumGothicBold';
	font-size: 1rem;
	padding: 10px;
}

.totalbox {
	border: 3px solid #eeeeee;
}

.totalbox span {
	font-weight: bold;
	font-size: 25px;
}

#msgbox {
	height: 500px;
	background: #b2c7d9;
	margin: 15px;
	border: 1px solid;
	border-radius: 12px;
	overflow: auto;
}

.from {
	font-size: 1.0rem;
	background: #ffeb33;
	border-radius: 10px;
	padding: 8px;
}

.msg-time {
	font-size: 0.8rem;
}

.to {
	font-size: 1.0rem;
	background: #ffeb33;
	border-radius: 10px;
	padding: 8px;
}

#mlist {
	height: 350px;
	background: white;
	margin: 15px;
	border: 1px solid #eeeeee;
	border-radius: 12px;
	overflow: auto;
}

/* 스크롤 바 숨기기 : 브라우저마다 다 달라서 검색해야한다.  */
.msgbox::-webkit-scrollbar {
	display: none;
}

.roomStart {
	/* i번째 방 입장 */
	font-family: 'NanumGothicBold';
	font-size: 1.3rem;
	background-color: #eeeeee;
}